{
  "CN": "kubernetes",
  "hosts": [
      {% for host in groups['k8s-master-group'] %}"{{ hostvars[host].ansible_host }}",{% endfor %}

      "{{k8s_api_server_ip}}",
      "172.20.0.1",
      "127.0.0.1",
      "kubernetes.default"
  ],
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "MD",
      "L": "Chishinau",
      "O": "Kubernetes",
      "OU": "Cluster",
      "ST": "Chishinau"
    }
  ]
}
