- type: http
  name: http/https with status 200
  schedule: '@every 60s'
  hosts: [ {% for host in groups['web-200-group'] %}"{{ hostvars[host].url }}",{% endfor %} ]
  check.response.status: 200

- type: http
  name: http/https with status 302 Foud
  schedule: '@every 60s'
  hosts: [ {% for host in groups['web-302-group'] %}"{{ hostvars[host].url }}",{% endfor %} ]
  check.response.status: 302

- type: http
  name: http/https with status 401 Unauthorized
  schedule: '@every 60s'
  hosts: [ {% for host in groups['web-401-group'] %}"{{ hostvars[host].url }}",{% endfor %} ]
  check.response.status: 401
