apiVersion: v1
kind: Config
clusters:
  - cluster:
#       server: https://{{ groups['k8s-master-group'][0]['ansible_host']['ansible_default_ipv4']['address'] }}:6443
       server: https://{{ groups['k8s-master-group'][0]['ansible_host'] }}:6443
    name: kubernetes
contexts:
  - context:
      cluster: kubernetes
      user: kube-apiserver-to-kubelet
    name: kubelet-to-kubernetes
current-context: kubelet-to-kubernetes
users:
  - name: kube-apiserver-to-kubelet
