apiVersion: v1
kind: Config
clusters:
{% for host in groups['k8s-master-group'] %}"{{ hostvars[host].ansible_host }}",
  - cluster:
      server: https://{{ groups['k8s-master-group'][0]['ansible_host'] }}:6443
    name: kubernetes
contexts:
  - context:
      cluster: kubernetes
      user: proxy
    name: proxy-to-kubernetes
current-context: proxy-to-kubernetes
users:
  - name: proxy
    user:
{% endfor %}