[mongodb-org-{{ mongodb_deploy_version_major }}.{{ mongodb_deploy_version_minor }}]
name=MongoDB Repository
baseurl=https://repo.mongodb.org/yum/redhat/$releasever/mongodb-org/{{ mongodb_deploy_version_major }}.{{ mongodb_deploy_version_minor }}/x86_64/
gpgcheck=0
enabled=1

https://repo.mongodb.org/yum/redhat/$releasever/mongodb-org/4.0/x86_64/