{
        "auths": {
                "{{ devopss_internal_nexus_address_name }}:8123": {
                        "auth": "ZWJzLXJlcG8tYWRtaW46TGEyOWkxV20="
                }
        },
        "HttpHeaders": {
                "User-Agent": "Docker-Client/{{ docker_version }} (linux)"
        }
}
