
## maxClientCnxns=0

#quorumListenOnAllIPs=true

#################   Authentication  #################
authProvider.1=org.apache.zookeeper.server.auth.SASLAuthenticationProvider
requireClientAuthScheme=sasl
jaasLoginRenew=3600000

#################     Loging     #################

log.dirs={{ zk_logs }}
log.dir={{ zk_logs }}

#############################  from zoo.cfg #############################  from zoo.cfg
# The number of milliseconds of each tick
tickTime=2000
# The number of ticks that the initial
# synchronization phase can take
initLimit=10
# The number of ticks that can pass between
# sending a request and getting an acknowledgement
syncLimit=5
# the directory where the snapshot is stored.
# do not use /tmp for storage, /tmp here is just
# example sakes.
dataDir={{ zk_datadir }}
# Place the dataLogDir to a separate physical disc for better performance
dataLogDir={{ zk_logs }}
# the port at which the clients will connect
clientPort={{ zookeeper_connect_port }}

{% for host in groups['kafka-test-group'] %}
server.{{ loop.index }}={{ hostvars[host]['ansible_host']}}:2888:3888
{% endfor %}

# the maximum number of client connections.
# increase this if you need to handle more clients
#maxClientCnxns=60
#
# Be sure to read the maintenance section of the
# administrator guide before turning on autopurge.
#
# http://zookeeper.apache.org/doc/current/zookeeperAdmin.html#sc_maintenance
#
# The number of snapshots to retain in dataDir
#autopurge.snapRetainCount=3
# Purge task interval in hours
# Set to "0" to disable auto purge feature
#autopurge.purgeInterval=1
