# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/8.0/en/server-configuration-defaults.html

[mysqld]
#
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M
#
# Remove the leading "# " to disable binary logging
# Binary logging captures changes between backups and is enabled by
# default. It's default setting is log_bin=binlog
# disable_log_bin
#
# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M
#
# Remove leading # to revert to previous value for default_authentication_plugin,
# this will increase compatibility with older clients. For background, see:
# https://dev.mysql.com/doc/refman/8.0/en/server-system-variables.html#sysvar_default_authentication_plugin
# default-authentication-plugin=mysql_native_password

default_password_lifetime=0
default-authentication-plugin=mysql_native_password

bind-address=0.0.0.0

datadir={{ mysql_dir }}
socket={{ mysql_dir }}/mysql.sock

log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

### Manual DB RAM optimization
key_buffer_size=256M
tmp_table_size=128M
innodb_buffer_pool_size=3G
innodb_log_buffer_size=16M
max_connections=150
read_buffer_size=1M
read_rnd_buffer_size=1M
join_buffer_size=1M
thread_stack=1M
binlog_cache_size=1M
### END of Manual DB optimization

[client]
port=3306
socket={{ mysql_dir }}/mysql.sock

user=root
password={{ mysql_root_password }}

[mysql]
user=root
password={{ mysql_root_password }}

[mysqldump]
user=root
password={{ mysql_root_password }}

[mysqldiff]
user=root
password={{ mysql_root_password }}
